In [1]:
import pandas as pd
import numpy as np

![](2022-09-11-13-56-56.png)

In [2]:
df = pd.read_csv("veriler.csv")
df.head()

  ulke  boy  kilo  yas cinsiyet
0   tr  130    30   10        e
1   tr  125    36   11        e
2   tr  135    34   10        k
3   tr  133    30    9        k
4   tr  129    38   12        e

In [3]:
ulke = df.iloc[:,0:1].values
ulke

array([['tr'],
       ['tr'],
       ['tr'],
       ['tr'],
       ['tr'],
       ['tr'],
       ['tr'],
       ['tr'],
       ['tr'],
       ['us'],
       ['us'],
       ['us'],
       ['us'],
       ['us'],
       ['us'],
       ['fr'],
       ['fr'],
       ['fr'],
       ['fr'],
       ['fr'],
       ['fr'],
       ['fr']], dtype=object)

In [4]:
from sklearn.preprocessing import LabelEncoder , OneHotEncoder # OneHotEncoder better encode tactic for polynominal categoric values.

In [5]:
le = LabelEncoder()

In [6]:
ohe = OneHotEncoder()

In [ ]:
ulke[:,0] = le.fit_transform(df.iloc[:,0])
ulke

In [ ]:
ulke = ohe.fit_transform(ulke).toarray()
ulke