In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("datapoints.csv")
df.head()

          X         y
0  0.000000  0.496714
1  0.052632  0.019630
2  0.105263  0.963478
3  0.157895  1.996714
4  0.210526  0.397426

In [3]:
def lowest_mae_finder(df):
    X = df.X
    y_true = df.y
    lowest_mae = 100
    ideal_a = 0
    ideal_b = 0
    for i in range(-100,100):
        a = i/10
        for j in range(-100,100):
            b = j/10
            y_pred = a*df.X + b
            mae = sum(abs(y_pred - y_true)) / len(y_pred)
            if mae < lowest_mae :
                lowest_mae = mae
                ideal_a = a
                ideal_b = b
    return f"İdeal a = {ideal_a} , ideal b = {ideal_b} , lowest mae = {lowest_mae}"

In [4]:
lowest_mae_finder(df)

'İdeal a = 1.3 , ideal b = 0.5 , lowest mae = 0.5840448264054772'

In [ ]:
# Best equation is y = 1.3x + 0.5 for mae.