In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("ds_salaries.csv")
data.head()

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L

In [3]:
data.shape

(607, 12)

In [4]:
data.drop('Unnamed: 0' , axis=1 , inplace=True)

In [5]:
data.columns

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 607 entries, 0 to 606
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           607 non-null    int64
 1   experience_level    607 non-null    object
 2   employment_type     607 non-null    object
 3   job_title           607 non-null    object
 4   salary              607 non-null    int64
 5   salary_currency     607 non-null    object
 6   salary_in_usd       607 non-null    int64
 7   employee_residence  607 non-null    object
 8   remote_ratio        607 non-null    int64
 9   company_location    607 non-null    object
 10  company_size        607 non-null    object
dtypes: int64(4), object(7)
memory usage: 52.3+ KB

In [7]:
len(data["experience_level"].value_counts())

4

In [8]:
# data["experience_level"] = data["experience_level"].astype("category")
# data["employment_type"] = data["employment_type"].astype("category")
# data["job_title"] = data["job_title"].astype("category")
# data["salary_currency"] = data["salary_currency"].astype("category")
# data["employee_residence"] = data["employee_residence"].astype("category")
# data["company_location"] = data["company_location"].astype("category")
# data["company_size"] = data["company_size"].astype("category")

# Not neccessary

In [9]:
data.dtypes

work_year              int64
experience_level      object
employment_type       object
job_title             object
salary                 int64
salary_currency       object
salary_in_usd          int64
employee_residence    object
remote_ratio           int64
company_location      object
company_size          object
dtype: object

In [10]:
data.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L

In [13]:
data = pd.get_dummies(data)
data

,work_year,salary,salary_in_usd,remote_ratio,experience_level_EN,experience_level_EX,experience_level_MI,experience_level_SE,employment_type_CT,employment_type_FL,...,company_location_RU,company_location_SG,company_location_SI,company_location_TR,company_location_UA,company_location_US,company_location_VN,company_size_L,company_size_M,company_size_S
0,2020,70000,79833,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,2020,260000,260000,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
2,2020,85000,109024,50,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
3,2020,20000,20000,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,2020,150000,150000,50,0,0,0,1,0,0,...,0,0,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
602,2022,154000,154000,100,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,1,0
603,2022,126000,126000,100,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,1,0
604,2022,129000,129000,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,1,0
605,2022,150000,150000,100,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,1,0
606,2022,200000,200000,100,0,0,1,0,0,0,...,0,0,0,0,0,1,0,1,0,0

In [12]:
X = data["job_title"]
y = data["salary"]

KeyError: 'job_title'

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train , X_test , y_train , y_test = train_test_split(X,y , test_size = 0.2)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
lr = LinearRegression().fit(X_train,y_train)

In [ ]:
train_score = lr.score(X_train,y_train)
test_score = lr.score(X_test,y_test)

print(f"Train score : {train_score} - Test score : {test_score}") # LinearRegression is not good yet.

In [ ]:
from sklearn.linear_model import Ridge

In [ ]:
rd = Ridge(alpha=0.1).fit(X_train,y_train)

In [ ]:
rd_train_score = rd.score(X_train,y_train)
rd_test_score = rd.score(X_test,y_test)

print(f"Ridge train score : {rd_train_score} - Ridge test score : {rd_test_score}")

In [ ]:
from sklearn.linear_model import Lasso

In [ ]:
lasso = Lasso(alpha=0.0001).fit(X_train,y_train)

In [ ]:
lasso_train_score = lasso.score(X_train,y_train)
lasso_test_score = lasso.score(X_test,y_test)

print(f"Lasso train score : {lasso_train_score} - Lasso test score : {lasso_test_score}")