In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("ds_salaries.csv")
data.head()

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L

In [3]:
data.shape

(607, 12)

In [4]:
data.drop('Unnamed: 0' , axis=1 , inplace=True)

In [5]:
# data["experience_level"] = data["experience_level"].astype("category")
# data["employment_type"] = data["employment_type"].astype("category")
# data["job_title"] = data["job_title"].astype("category")
# data["salary_currency"] = data["salary_currency"].astype("category")
# data["employee_residence"] = data["employee_residence"].astype("category")
# data["company_location"] = data["company_location"].astype("category")
# data["company_size"] = data["company_size"].astype("category")

In [6]:
data = pd.get_dummies(data)

In [7]:
data.shape

(607, 189)

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X = data.drop("salary",axis = 1)
y = data["salary"]

In [10]:
X_train , X_test , y_train , y_test = train_test_split(X,y,test_size = 0.8)

In [11]:
from sklearn.neighbors import KNeighborsRegressor

In [12]:
kN = KNeighborsRegressor(n_neighbors = 21).fit(X_train,y_train)

In [13]:
kN.score(X_test,y_test)

0.019116015468091274