In [2]:
import pandas as pd
import numpy as np

In [4]:
# cb_preds = pd.read_csv('preds/cb_preds1.csv')
cb2_preds = pd.read_csv('preds/cb_preds2.csv')
pred_136 = pd.read_csv('preds/submitted/ensemble_preds1_1.36.csv')
# lgb_preds = pd.read_csv('preds/lgb_preds1.csv')
# xgb_preds = pd.read_csv('preds/xgb_preds1.csv')
# gb_preds = pd.read_csv('preds/gb_preds1.csv')

In [3]:
merged_preds = pd.concat([cb_preds['Age'], lgb_preds['Age'], xgb_preds['Age'], gb_preds['Age']], axis=1)

In [4]:
merged_preds

        Age   Age   Age   Age
0       7.0   7.0   8.0   7.0
1       8.0   8.0   8.0   8.0
2      10.0  10.0  11.0  10.0
3       9.0   9.0  10.0  10.0
4       8.0   7.0   7.0   7.0
...     ...   ...   ...   ...
49363   9.0   9.0   9.0   9.0
49364   8.0   8.0   8.0   8.0
49365  12.0  12.0  13.0  12.0
49366   9.0   9.0  10.0  10.0
49367  12.0  12.0  13.0  12.0

[49368 rows x 4 columns]

In [7]:
ensemble_preds = np.round(merged_preds.mean(axis=1))

ensemble_preds

0         7.0
1         8.0
2        10.0
3        10.0
4         7.0
         ...
49363     9.0
49364     8.0
49365    12.0
49366    10.0
49367    12.0
Length: 49368, dtype: float64

In [8]:
ensemble_df = pd.DataFrame({'id': cb_preds['id'], 'Age': ensemble_preds})

In [9]:
ensemble_df.to_csv('preds/ensemble_preds1.csv', index=False)

In [ ]:
# Done

In [10]:
ensemble_preds

0         7.0
1         8.0
2        10.0
3        10.0
4         7.0
         ...
49363     9.0
49364     8.0
49365    12.0
49366    10.0
49367    12.0
Length: 49368, dtype: float64

In [11]:
xgb_preds

           id   Age
0       74051   8.0
1       74052   8.0
2       74053  11.0
3       74054  10.0
4       74055   7.0
...       ...   ...
49363  123414   9.0
49364  123415   8.0
49365  123416  13.0
49366  123417  10.0
49367  123418  13.0

[49368 rows x 2 columns]

In [12]:
cb_preds

           id   Age
0       74051   7.0
1       74052   8.0
2       74053  10.0
3       74054   9.0
4       74055   8.0
...       ...   ...
49363  123414   9.0
49364  123415   8.0
49365  123416  12.0
49366  123417   9.0
49367  123418  12.0

[49368 rows x 2 columns]

# Compare

In [5]:
def pearson_compare(df1 , df2 , feature = 'Age'):
    from scipy.stats import pearsonr
    df1_values = df1[feature].values
    df2_values = df2[feature].values
    
    # Pearson korelasyon katsayısı hesaplama
    correlation, _ = pearsonr(df1_values, df2_values)
    
    print(f"Pearson Korelasyon Katsayısı:", correlation)
    
  
def jaccard_compare(df1 , df2 , feature = 'Age'):
    from sklearn.metrics import jaccard_score
    df1_values = df1[feature].values
    df2_values = df2[feature].values
    
    # Jaccard benzerlik katsayısı hesaplama
    jaccard_similarity = jaccard_score(df1_values, df2_values , average='weighted')
    
    print(f"Jaccard Benzerlik Katsayısı:", jaccard_similarity)

In [7]:
print('1.36 & CB :')
pearson_compare(pred_136 , cb2_preds)

1.36 & CB :
Pearson Korelasyon Katsayısı: 0.9876057407377842

In [25]:
print('Ensemble & XGB :')
pearson_compare(ensemble_df , xgb_preds)

print('Ensemble & GB :')
pearson_compare(ensemble_df , gb_preds)

print('Ensemble & CB :')
pearson_compare(ensemble_df , cb_preds)

print('Ensemble & LightGBM :')
pearson_compare(ensemble_df , lgb_preds)

Ensemble & XGB :
Pearson Korelasyon Katsayısı: 0.980033356193876
Ensemble & GB :
Pearson Korelasyon Katsayısı: 0.9881668278735037
Ensemble & CB :
Pearson Korelasyon Katsayısı: 0.986850050928861
Ensemble & LightGBM :
Pearson Korelasyon Katsayısı: 0.99155204763898

In [8]:
print('1.36 & CB :')
jaccard_compare(pred_136 , cb2_preds)

1.36 & CB :
Jaccard Benzerlik Katsayısı: 0.7708281677055938

In [26]:
print('Ensemble & XGB :')
jaccard_compare(ensemble_df , xgb_preds)

print('Ensemble & GB :')
jaccard_compare(ensemble_df , gb_preds)

print('Ensemble & CB :')
jaccard_compare(ensemble_df , cb_preds)

print('Ensemble & LightGBM :')
jaccard_compare(ensemble_df , lgb_preds)

Ensemble & XGB :
Jaccard Benzerlik Katsayısı: 0.5509807032010735
Ensemble & GB :
Jaccard Benzerlik Katsayısı: 0.77767027392535
Ensemble & CB :
Jaccard Benzerlik Katsayısı: 0.7616842336147495
Ensemble & LightGBM :
Jaccard Benzerlik Katsayısı: 0.8388477571091889